#map {
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}
.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}

/*Add a title*/
#title {
  top: 0;
  left: 60px;
  height: 80px;
  margin-top: 10px;
  width: 210px;
}

h2 {
  margin:0px;
  font-size: 1em;
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
}

/*The style for subtitle*/
p {
  margin:0px;
  font-size: 1em;
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
  color: #838B83
}

#legend {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  left: 20px;
  margin-bottom: 40px;
  width: 200px;
  box-shadow:2px 2px 5px #000;
  border-radius:5px;
}
.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

/*add a scale*/
.mapboxgl-ctrl.mapboxgl-ctrl-scale {
	height: 10px;
	background-color:transparent;
	line-height:10%;
	text-align:center
}

#mapboxgl {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  height: 80px;
  right: 20px;
  margin-bottom: 40px;
  width: 160px;
}


/*Add a popup with more information */
.mapboxgl-popup {
   max-width: 200px;
}
.mapboxgl-popup-content {
   text-align: left;
   font-family: 'Arial', sans-serif;
   color: #333333
}


#sidebar {
	display: block;
	position: absolute;
	z-index: 1;
	top: 10px;
	right: 0;
	color: #fff;
	transition: all 0.3s;
	opacity: .9;
	font-family: Arial;
	border-radius:15px;
}
#sidebar:after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	background: #2f89fc;
	background: linear-gradient(135deg, #2f89fc 0%, #5effc9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f89fc', endColorstr='#5effc9', GradientType=1 );
	opacity: .7;
	z-index: -1; 
		
	box-shadow:2px 2px 5px #000;
	border-radius:15px;
}

#sidebarCollapse{
	left:-50px;
    background: #2f89fc;
	border: none;
    position: relative;
    color: white;
	outline: none;
	width: 30px;
    height: 30px;
	border-radius:15px;
}

#sidebarCollapse:hover{
	background: #99ccff;
	cursor: pointer;
}

#sidebar ul h1 {
	padding:0px 20px 20px 20px;
	font-weight: 700;
	font-size: 30px; 
	margin: 0;
	text-decoration: none;
}
#sidebar ul h1 .logo {
	color: #fff;
	display: block; 
	text-decoration: none;
}
#sidebar ul h1 .logo span {
	font-size: 13px;
	color: #fff;
	display: block; 
	text-decoration: none;
}
#sidebar_btn_ul{
	padding:0px;
	list-style: none;	
}
 

#sidebar ul li {
	font-size: 16px;
}

#sidebar ul li a {
	padding:15px 10px;
	display: block;
	color: rgba(255, 255, 255, 0.9);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
	text-decoration: none;
}
#sidebar ul li a:hover {
	color: #fff;
	background: #2f89fc;
	border-bottom: 1px solid #2f89fc; 
	cursor: pointer;
}
#sidebar ul li a.active {
	color: #fff;
	background: #2f89fc;

}

/*place search */
#place_search_card {
	display: none;
	position: absolute;
	height: 170px;
	width: 270px;
	top: 10px;
	left: 400px;
	background: #fff;
	z-index: 1;
	border-radius:15px;
	box-shadow:2px 2px 5px #000;
}

#place_search_card_close {
  position: absolute;
	left:280px;
	top: 5px;
    background: #2f89fc;
	border: none;
    position: relative;
    color: white;
	outline: none;
	width: 30px;
    height: 30px;
	border-radius:15px;
}

#place_search_card_close:hover {
	background: #99ccff;
	cursor: pointer;
}

/* #place_search_card input{
  position: relative;
  top: 20px;
  left:0px;
  height: 30px;
  width: 300px;
  outline: none;
  border: 2px solid #2f89fc;
  box-sizing: border-box;
  padding-left: 10px;
} */

/* #place_search_card_searchbtn {
  position: relative;
  top: 28.5px;
  left:-10px;
  width: 40px;
  height: 30px;
  border: 1px solid #2f89fc;
  text-align: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  outline: none;
  background: #2f89fc;
  background-image: url(images/search_btn.svg);
  background-position: center;
  background-repeat: no-repeat	 
} */

#place_search_tags{
	position: absolute;
	top: 0px;
	padding:15px;
}

#place_search_tags h3{
	position: relative;
	top: 0px;
	padding:0px;
	font-family: Arial;
}

#place_search_tags button{
  font-family: Arial;
  background: #2f89fc;
  color: white;
  border-radius:10px;
  border: 1px solid white;
  outline: none;
  cursor: pointer;
} 

.mapboxgl-popup-content {
	padding: 20px;
	width: 400px;
	font-family: Arial;
	box-shadow:2px 2px 5px #000;
}

/*transport search */
#transport_search_card {
	display: none;
	position: absolute;
	height: 200px;
	width: 400px;
	top: 10px;
	left: 400px;
	background: #fff;
	z-index: 1;
	border-radius:15px;
	box-shadow:2px 2px 5px #000;
}

#transport_search_card_close {
  position: absolute;
	left:410px;
	top: 5px;
    background: #2f89fc;
	border: none;
    position: relative;
    color: white;
	outline: none;
	width: 30px;
    height: 30px;
	border-radius:15px;
}

#transport_search_card_close:hover {
	background: #99ccff;
	cursor: pointer;
}

/* #transport_search_picture：{
  position: relative;
  top: 20px;
  left:0px;
  height: 30px;
  width: 300px;
  outline: none;
  padding-left: 10px;
} */

/* #transport_search_card_searchbtn {
  position: relative;
  top: 28.5px;
  left:-10px;
  width: 40px;
  height: 30px;
  border: 1px solid #2f89fc;
  text-align: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  outline: none;
  background: #2f89fc;
  background-image: url(images/search_btn.svg);
  background-position: center;
  background-repeat: no-repeat	 
} */

#transport_search_tags{
	position: absolute;
	top: 0px;
	padding:15px;
}

#transport_search_tags h3{
	position: relative;
	top: 0px;
	padding:0px;
	font-family: Arial;
}

#transport_search_tags button{
  font-family: Arial;
  background: #2f89fc;
  color: white;
  border-radius:10px;
  border: 1px solid white;
  outline: none;
  cursor: pointer;
} 

#restaurant_search_card {
	display: none;
	position: absolute;
	height: 285px;
	width: 500px;
	top: 10px;
	left: 400px;
	background: #fff;
	z-index: 1;
	border-radius:15px;
	box-shadow:2px 2px 5px #000;
}

#restaurant_search_card_close {
	left:460px;
	top: 5px;
    background: #2f89fc;
	border: none;
    position: relative;
    color: white;
	outline: none;
	width: 30px;
    height: 30px;
	border-radius:15px;
}

#restaurant_search_card_close:hover {
	background: #99ccff;
	cursor: pointer;
}

#restaurant_search_card input{
	position: relative;
	top: 20px;
	left:0px;
	height: 30px;
	width: 300px;
	outline: none;
	border: 2px solid #2f89fc;
	box-sizing: border-box;
	padding-left: 10px;
}

#restaurant_search_card_searchbtn {
	position: relative;
	top: 28.5px;
	left:-10px;
	width: 40px;
	height: 30px;
	border: 1px solid #2f89fc;
	text-align: center;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
	outline: none;
	background: #2f89fc;
	background-image: url(images/search_btn.svg);
	background-position: center;
	background-repeat: no-repeat	 
}

#restaurant_search_tags{
	position: relative;
	top: 20px;
	padding:0px 15px;
	margin: 0px;
}

#restaurant_search_tags h3{
	position: relative;
	top: 0px;
	padding:0px;
	margin: 20px 10px 10px 10px;
	font-family: Arial;
}

#restaurant_search_tags button{
	font-family: Arial;
	background: #2f89fc;
	color: white;
	border-radius:10px;
	border: 1px solid white;
	outline: none;
	cursor: pointer;
}

#restaurant_filter{
	position: relative;
	top: 20px;
	padding:0px 15px;
	margin: 0px;
}

#restaurant_filter h3{
	position: relative;
	top: 0px;
	padding:0px;
	margin: 10px;
	font-family: Arial;
}

#restaurant_filter button{
	font-family: Arial;
	background: #2f89fc;
	color: white;
	border-radius:10px;
	border: 1px solid white;
	outline: none;
	cursor: pointer;
}

#instructions {
  display: inline-block;
  border-radius: 5px;
  position: absolute;
  font-family: 'Roboto', sans-serif;
  left: 20px;
  width: 230px;
  top: 60%;
  bottom: 100px;
  padding: 20px;
  background: #000000;
  color: white;
  overflow-y: auto;
  font-family: sans-serif;
  font-size: 0.7em;
  line-height: 1.2em;
  opacity: 0.7;
}
.lcolumn{
    float: left;
    width: 50%;
	margin:0 2.5%;
}

.rcolumn{
    margin-left: 50%;
	color: #fff;
}

@media (max-width: 991.98px) {
	#sidebar {
	  margin-right: -300px; }
}
